---
import BaseLayout from '../layouts/BaseLayout.astro';
import Button from '../components/atoms/Button.astro';
---
<BaseLayout title="Wir würden uns freuen, von Dir zu hören | Innoviter">

  <h1>Wir würden uns freuen, von Dir zu hören</h1>

  <p>Egal, ob Du eine Frage, einen Kommentar, Feedback oder eine Projektanfrage hast, kontaktiere uns gerne über die auf dieser Seite angegebenen Kontaktmöglichkeiten.
    Wir werden Dir innerhalb von 24 Stunden antworten.</p>

  <h2>Sag' Hallo</h2>
  <Button href="mailto:hello@innoviter.com" title="E-Mail-Adresse">hello@innoviter.com</Button>

  <h2>Lass' uns reden</h2>
  <Button href="tel:004960327859109" title="Telefonnummer">+49 6032 7859109</Button>

  <h2>Postanschrift</h2>
  <p>Innoviter UG<br>
    c/o Work Nouveau<br>
    In den Kolonnaden 7<br>
    61231 Bad Nauheim<br>
    Deutschland</p>

  <h2>Karriere</h2>
  <Button href="mailto:careers@innoviter.com" title="E-Mail-Adresse">careers@innoviter.com</Button>

  <h2>Besuche uns online</h2>
  <Button href="https://innoviter.com" title="Website">https://innoviter.com</Button>

</BaseLayout>
