---
interface Props {
  href: string;
  currentPath: string;
}
const { href, currentPath } = Astro.props;
const isActive = currentPath === href || currentPath === href.replace(/\/$/, '');
---
<li>
  <a
    class="underline hover:no-underline"
    href={href}
    {...(isActive ? { 'aria-current': 'page' } : {})}
  ><slot /></a>
</li>
