---
import Logo from '../atoms/Logo.astro';
import NavList from '../molecules/NavList.astro';

interface Props {
  currentPath: string;
}
const { currentPath } = Astro.props;

const primaryNav = [
  { href: '/', label: 'Home' },
  { href: '/ueber-mich/', label: 'Über mich' },
  { href: '/kontakt/', label: 'Kontakt' },
];
---
<header>
  <div class="flex flex-col space-y-3">
    <div class="flex items-center space-x-3">
      <!--Logo href="/" /-->
      <div class="flex-initial heading"><a href="/">zoeller.io</a></div>
    </div>
    <div class="flex flex-col space-y-3">
      <div>
        <NavList items={primaryNav} currentPath={currentPath} />
      </div>
    </div>
  </div>
</header>
